.red {
  background-color: red;
}

.blue {
  background-color: rgb(26, 3, 235);
}

.yellow {
  background-color: rgb(235, 212, 3);
}

.green {
  background-color: rgb(72, 219, 36);
}

.pink {
  background-color: rgb(219, 36, 195);
}
