.red {
  background-color: red;
}

.blue {
  background-color: rgb(26, 3, 235);
}

.yellow {
  background-color: rgb(235, 212, 3);
}

.green {
  background-color: rgb(72, 219, 36);
}

.pink {
  background-color: rgb(219, 36, 195);
}

.header {
  @include full-screen-section;
  @include bg-gradient("../../img/banner.png");
  position: relative;
  overflow: hidden;

  .nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

    &__logo {
      width: 140px;
    }

    &__icon {
      display: none;
      @include mobile {
        color: var(--color-text-main);
        position: absolute;
        right: 5%;
        font-size: 22px;
        z-index: 3;
        cursor: pointer;
        transition: transform 0.3s;
        &--active {
          display: block;
        }
        &--active-anim {
          transform: rotate(360deg);
        }
      }
    }

    &__links {
      @include reset-list;
      flex: 1;
      @include mobile {
        position: absolute;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        padding: 60px 20px 20px 20px;
        background: var(--color-theme-alpha2);
        z-index: 2;
        text-align: left;
        transition: right 0.3s;
        &--active {
          right: 0;
        }
      }
    }

    &__link {
      position: relative;
      display: inline-block;
      padding: 8px 10px;
      @include mobile {
        display: block;
        &:nth-child(5) {
          margin-bottom: 20px;
        }
      }
    }

    &__link-text {
      text-decoration: none;
      color: var(--color-text-main);
      @include main-font(13px);
      @include link-transition;
    }

    &__color-link {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-left: 5px;
      border: 1px solid white;
      cursor: pointer;
      margin-left: 12px;
    }
  }

  .text-box {
    @include center-xy;
    width: 90%;
    text-align: center;
    color: var(--color-text-main);

    &__heading {
      font-weight: 800;
      @include main-font(62px);
      @include mobile {
        @include main-font(20px);
      }
    }

    &__paragraph {
      margin: 10px 0 40px;
      @include main-font(14px);
    }

    &__link {
      @include rectangle-link;
    }
  }
}

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 30px;
  &__heading {
    @include main-font(18px);
    font-weight: 500;
    color: var(--color-text-secondary);
    margin: 15px 0 20px 0;
    @include mobile {
      font-size: 22px;
    }
  }
  &__description {
    @include main-font(14px);
    line-height: 22px;
    margin: 10px 0 20px 0;
  }
  .fa-brands {
    padding: 0 8px;
    color: var(--color-theme-alpha2);
    font-size: 18px;
    transform: scale(100%);
    transition: color 0.3s, transform 0.2s;
    &:hover {
      color: var(--color-theme-main);
      cursor: pointer;
      transform: scale(105%);
    }
  }

  &__author {
    @include main-font(14px);
    color: var(--color-text-secondary);
    line-height: 22px;
    margin: 20px 0 20px 0;
    .fa-heart {
      color: var(--color-theme-main);
    }
  }
}
