.header {
  @include full-screen-section;
  @include bg-gradient("../../img/banner.png");
  position: relative;
  overflow-x: hidden;

  .nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

    &__logo {
      width: 140px;
    }

    &__icon {
      display: none;
      @include mobile {
        color: var(--color-text-main);
        position: absolute;
        right: 5%;
        font-size: 22px;
        z-index: 3;
        cursor: pointer;
        transition: transform 0.3s;
        &--active {
          display: block;
        }
        &--active-anim {
          transform: rotate(360deg);
        }
      }
    }

    &__links {
      @include reset-list;
      flex: 1;
      @include mobile {
        position: absolute;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        padding: 60px 20px 20px 20px;
        background: var(--color-theme-alpha2);
        z-index: 2;
        text-align: left;
        transition: right 0.3s;
        &--active {
          right: 0;
        }
      }
    }

    &__link {
      position: relative;
      display: inline-block;
      padding: 8px 10px;
      @include mobile {
        display: block;
        &:nth-child(5) {
          margin-bottom: 20px;
        }
      }
    }

    &__link-text {
      text-decoration: none;
      color: var(--color-text-main);
      @include main-font(13px);
      @include link-transition;
    }

    &__color-link {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-left: 5px;
      border: 1px solid white;
      cursor: pointer;
      margin-left: 12px;
    }
  }

  .text-box {
    @include center-xy;
    width: 90%;
    text-align: center;
    color: var(--color-text-main);

    &__heading {
      font-weight: 800;
      @include main-font(62px);
      @include mobile {
        @include main-font(20px);
      }
    }

    &__paragraph {
      margin: 10px 0 40px;
      @include main-font(14px);
    }

    &__link {
      display: inline-block;
      text-decoration: none;
      color: var(--color-text-main);
      border: 1px solid var(--color-text-main);
      padding: 12px 34px;
      background: transparent;
      position: relative;
      cursor: pointer;
      transition: border 0.5s;
      @include main-font(13px);

      &:hover {
        border: 1px solid var(--color-theme-main);
        background-color: var(--color-theme-alpha);
      }
    }
  }
}

.offer {
  @include screen-section;
  padding-top: 100px;
  &__heading {
    @include screen-section-heading;
  }
  &__description {
    @include screen-section-subheading;
  }
  &__cards {
    @include cards-box;
  }
  &__card {
    flex-basis: 31%;
    background: var(--color-theme-alpha);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    transition: box-shadow 0.25s;
    &:hover {
      box-shadow: 0 0 20px 0px var(--color-shadow-gray);
      cursor: pointer;
    }
  }
  &__title {
    @include main-font(18px);
    font-weight: 600;
    margin: 10px 8px;
  }
}

.offices {
  @include screen-section;
  padding-top: 50px;
  &__heading {
    @include screen-section-heading;
  }
  &__description {
    @include screen-section-subheading;
  }
  &__cards {
    @include cards-box;
  }
  &__card {
    flex-basis: 32%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    &:nth-child(2) {
      margin: 0 20px;
      @include mobile {
        margin: 20px 0;
      }
    }
  }
  &__image {
    width: 100%;
    display: block;
  }
  &__image-backdrop {
    @include main-font(18px);
    padding-top: 20px;
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: background 0.3s;
    &:hover {
      background: var(--color-theme-alpha2);
      .offices__image-city {
        opacity: 1;
        bottom: 40%;
      }
    }
  }
  &__image-city {
    @include main-font(26px);
    position: absolute;
    width: 100%;
    font-weight: 500;
    color: var(--color-text-main);
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: bottom 0.5s;
  }
}

.team {
  @include screen-section;
  margin-top: 100px;

  &__heading {
    @include screen-section-heading;
  }

  &__subheading {
    @include screen-section-subheading;
  }

  &__cards {
    @include cards-box;
  }

  &__card {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
  }

  &__image {
    width: 100%;
    border-radius: 10px;
  }

  &__card-title {
    @include main-font(18px);
    font-weight: 600;
    margin: 10px 0;
    text-align: left;
  }

  &__description {
    @include main-font(14px);
    font-weight: 300;
    margin: 16px 0 15px 0;
  }
}

.testimonials {
  @include screen-section;

  &__heading {
    @include main-font(36px);
    font-weight: 600;
  }

  &__subheading {
    @include main-font(14px);
    line-height: 22px;
    padding: 10px;
  }

  &__cards {
    @include cards-box;
  }

  &__card {
    flex-basis: 45%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: var(--color-theme-alpha);
    padding: 25px;
    cursor: pointer;
    display: flex;
  }

  &__image {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
    @include mobile {
      margin-left: 0;
      margin-right: 15px;
    }
  }

  &__description {
    @include main-font(14px);
    font-weight: 300;
    padding: 0;
  }

  &__card-title {
    @include main-font(18px);
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .fa-solid {
    font-size: 12px;
    color: var(--color-theme-main);
  }
}
