.header {
  @include full-screen-section;
  @include bg-gradient("../../img/banner.png");
  position: relative;

  .nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

    &__logo {
      width: 170px;
    }

    &__links {
      @include reset-list;
      flex: 1;
    }

    &__link {
      position: relative;
      display: inline-block;
      padding: 8px 12px;
      @include link-transition;
    }

    &__link-text {
      text-decoration: none;
      color: var(--color-main-text);
      @include main-font(13px);
    }

    &__color-link {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-left: 5px;
      border: 1px solid white;
      cursor: pointer;
    }
  }

  .text-box {
    @include center-xy;
    width: 90%;
    text-align: center;
    color: var(--color-main-text);

    &__heading {
      @include main-font(62px);
      font-weight: 800;
      @include tablet {
        @include main-font(20px);
      }
    }
    
    &__paragraph {
      margin: 10px 0 40px;
      @include main-font(14px);
    }

    &__link {
      display: inline-block;
      text-decoration: none;
      color: var(--color-main-text);
      border: 1px solid var(--color-main-text);
      padding: 12px 34px;
      @include main-font(13px);
      background: transparent;
      position: relative;
      cursor: pointer;
      transition: border 0.5s;

      &:hover {
        border: 1px solid var(--color-theme);
        background-color: var(--color-theme-alpha);
      }
    }
  }
}
