.header {
  &--process {
    @include bg-gradient("../../img/background.jpg");
    min-height: 50vh;
  }
}

.process {
  @include screen-section;
  padding-top: 100px;
  &__heading {
    @include screen-section-heading;
  }
  &__description {
    @include screen-section-subheading;
  }
  &__cards {
    @include cards-box;
  }
  &__card {
    flex-basis: 31%;
    background: var(--color-theme-alpha);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    transition: box-shadow 0.25s;
    &:hover {
      box-shadow: 0 0 20px 0px var(--color-shadow-gray);
      cursor: pointer;
    }
  }
  &__title {
    @include main-font(18px);
    font-weight: 600;
    margin: 10px 8px;
  }
}

.projects {
  @include screen-section;
  padding-top: 50px;
  &__heading {
    @include screen-section-heading;
  }
  &__description {
    @include screen-section-subheading;
  }
  &__cards {
    @include cards-box;
  }
  &__card {
    flex-basis: 32%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    &:nth-child(2) {
      margin: 0 20px;
      @include mobile {
        margin: 20px 0;
      }
    }
  }
  &__image {
    width: 100%;
    display: block;
  }
  &__image-backdrop {
    @include main-font(18px);
    padding-top: 20px;
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: background 0.3s;
    &:hover {
      background: var(--color-theme-alpha2);
      .offices__image-city {
        opacity: 1;
        bottom: 40%;
      }
    }
  }
  &__image-city {
    @include main-font(26px);
    position: absolute;
    width: 100%;
    font-weight: 500;
    color: var(--color-text-main);
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: bottom 0.5s;
  }
}
