:root {
  --color-theme-alpha: rgba(53, 84, 223, 0.2);
  --color-theme: rgb(53, 84, 223);
  --color-main-text: rgb(255, 255, 255);

  --font-main: "Poppins", sans-serif;
  --font-secondary: "Roboto", sans-serif;
}
