:root {
  --color-theme-alpha: rgba(32, 62, 192, 0.15);
  --color-theme: rgb(32, 62, 192);
  --color-main-text: rgb(255, 255, 255);

  --font-main: "Poppins", sans-serif;
  --font-secondary: "Roboto", sans-serif;
}
