@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

:root {
  --color-theme-alpha: rgba(32, 62, 192, 0.2);
  --color-theme: rgb(32, 62, 192);
  --color-main-text: rgb(255, 255, 255);
  --font-main: "Poppins", sans-serif;
  --font-secondary: "Roboto", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(54, 54, 54, 0.7)), to(var(--color-theme-alpha))), url("../../img/banner.png");
  background-image: linear-gradient(rgba(54, 54, 54, 0.7), var(--color-theme-alpha)), url("../../img/banner.png");
  background-position: center;
  background-size: cover;
  position: relative;
}
.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2% 6%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .nav__logo {
  width: 170px;
}
.header .nav__links {
  text-align: right;
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.header .nav__link {
  position: relative;
  display: inline-block;
  padding: 8px 12px;
}
.header .nav__link:hover {
  cursor: pointer;
}
.header .nav__link::after {
  content: "";
  width: 0%;
  height: 3px;
  background: var(--color-theme);
  display: block;
  margin: auto;
  margin-top: 5px;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}
.header .nav__link:hover::after {
  width: 100%;
}
.header .nav__link-text {
  text-decoration: none;
  color: var(--color-main-text);
  font-family: var(--font-main);
  font-size: 13px;
}
.header .nav__color-link {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 5px;
  border: 1px solid white;
  cursor: pointer;
}

.red {
  background-color: red;
}

.blue {
  background-color: rgb(26, 3, 235);
}

.yellow {
  background-color: rgb(235, 212, 3);
}

.green {
  background-color: rgb(72, 219, 36);
}

.pink {
  background-color: rgb(219, 36, 195);
}/*# sourceMappingURL=style.css.map */