@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

:root {
  --color-theme-alpha: rgba(32, 62, 192, 0.15);
  --color-theme-alpha2: rgba(32, 62, 192, 0.4);
  --color-theme-main: rgb(32, 62, 192);
  --color-text-main: rgb(255, 255, 255);
  --color-text-secondary: #777;
  --color-shadow-gray: #dbdbdb8f;
  --font-main: "Poppins", sans-serif;
  --font-secondary: "Roboto", sans-serif;
}

.red {
  background-color: red;
}

.blue {
  background-color: rgb(26, 3, 235);
}

.yellow {
  background-color: rgb(235, 212, 3);
}

.green {
  background-color: rgb(72, 219, 36);
}

.pink {
  background-color: rgb(219, 36, 195);
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(54, 54, 54, 0.7)), to(var(--color-theme-alpha))), url("../../img/banner.png");
  background-image: linear-gradient(rgba(54, 54, 54, 0.7), var(--color-theme-alpha)), url("../../img/banner.png");
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2% 6%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .nav__logo {
  width: 140px;
}
.header .nav__icon {
  display: none;
}
@media (max-width: 700px) {
  .header .nav__icon {
    color: var(--color-text-main);
    position: absolute;
    right: 5%;
    font-size: 22px;
    z-index: 3;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .header .nav__icon--active {
    display: block;
  }
  .header .nav__icon--active-anim {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.header .nav__links {
  text-align: right;
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 700px) {
  .header .nav__links {
    position: absolute;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    padding: 60px 20px 20px 20px;
    background: var(--color-theme-alpha2);
    z-index: 2;
    text-align: left;
    -webkit-transition: right 0.3s;
    transition: right 0.3s;
  }
  .header .nav__links--active {
    right: 0;
  }
}
.header .nav__link {
  position: relative;
  display: inline-block;
  padding: 8px 10px;
}
@media (max-width: 700px) {
  .header .nav__link {
    display: block;
  }
  .header .nav__link:nth-child(5) {
    margin-bottom: 20px;
  }
}
.header .nav__link-text {
  text-decoration: none;
  color: var(--color-text-main);
  font-family: var(--font-main);
  font-size: 13px;
}
.header .nav__link-text:hover {
  cursor: pointer;
}
.header .nav__link-text::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--color-theme-main);
  display: block;
  margin: auto;
  margin-top: 5px;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}
.header .nav__link-text:hover::after {
  width: 100%;
}
.header .nav__color-link {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 5px;
  border: 1px solid white;
  cursor: pointer;
  margin-left: 12px;
}
.header .text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  color: var(--color-text-main);
}
.header .text-box__heading {
  font-weight: 800;
  font-family: var(--font-main);
  font-size: 62px;
}
@media (max-width: 700px) {
  .header .text-box__heading {
    font-family: var(--font-main);
    font-size: 20px;
  }
}
.header .text-box__paragraph {
  margin: 10px 0 40px;
  font-family: var(--font-main);
  font-size: 14px;
}
.header .text-box__link {
  display: inline-block;
  text-decoration: none;
  color: var(--color-text-main);
  border: 1px solid var(--color-text-main);
  padding: 12px 34px;
  font-weight: 500;
  background: transparent;
  position: relative;
  cursor: pointer;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
  font-family: var(--font-main);
  font-size: 13px;
}
.header .text-box__link:hover {
  border: 1px solid var(--color-theme-main);
  background-color: var(--color-theme-alpha);
}

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 30px;
}
.footer__heading {
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 500;
  color: var(--color-text-secondary);
  margin: 15px 0 20px 0;
}
@media (max-width: 700px) {
  .footer__heading {
    font-size: 22px;
  }
}
.footer__description {
  font-family: var(--font-main);
  font-size: 14px;
  line-height: 22px;
  margin: 10px 0 20px 0;
}
.footer .fa-brands {
  padding: 0 8px;
  color: var(--color-theme-alpha2);
  font-size: 18px;
  -webkit-transform: scale(100%);
          transform: scale(100%);
  -webkit-transition: color 0.3s, -webkit-transform 0.2s;
  transition: color 0.3s, -webkit-transform 0.2s;
  transition: color 0.3s, transform 0.2s;
  transition: color 0.3s, transform 0.2s, -webkit-transform 0.2s;
}
.footer .fa-brands:hover {
  color: var(--color-theme-main);
  cursor: pointer;
  -webkit-transform: scale(105%);
          transform: scale(105%);
}
.footer__author {
  font-family: var(--font-main);
  font-size: 14px;
  color: var(--color-text-secondary);
  line-height: 22px;
  margin: 20px 0 20px 0;
}
.footer__author .fa-heart {
  color: var(--color-theme-main);
}

.offer {
  width: 80%;
  margin: 80px auto;
  text-align: center;
  padding-top: 100px;
}
.offer__heading {
  font-family: var(--font-main);
  font-size: 36px;
  font-weight: 600;
}
.offer__description {
  font-family: var(--font-main);
  font-size: 14px;
  line-height: 22px;
  padding: 10px;
}
.offer__cards {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 700px) {
  .offer__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.offer__card {
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  background: var(--color-theme-alpha);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
}
.offer__card:hover {
  -webkit-box-shadow: 0 0 20px 0px var(--color-shadow-gray);
          box-shadow: 0 0 20px 0px var(--color-shadow-gray);
  cursor: pointer;
}
.offer__title {
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 600;
  margin: 10px 8px;
}

.offices {
  width: 80%;
  margin: 80px auto;
  text-align: center;
  padding-top: 50px;
}
.offices__heading {
  font-family: var(--font-main);
  font-size: 36px;
  font-weight: 600;
}
.offices__description {
  font-family: var(--font-main);
  font-size: 14px;
  line-height: 22px;
  padding: 10px;
}
.offices__cards {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 700px) {
  .offices__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.offices__card {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.offices__card:nth-child(2) {
  margin: 0 20px;
}
@media (max-width: 700px) {
  .offices__card:nth-child(2) {
    margin: 20px 0;
  }
}
.offices__image {
  width: 100%;
  display: block;
}
.offices__image-backdrop {
  font-family: var(--font-main);
  font-size: 18px;
  padding-top: 20px;
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.offices__image-backdrop:hover {
  background: var(--color-theme-alpha2);
}
.offices__image-backdrop:hover .offices__image-city {
  opacity: 1;
  bottom: 40%;
}
.offices__image-city {
  font-family: var(--font-main);
  font-size: 26px;
  position: absolute;
  width: 100%;
  font-weight: 500;
  color: var(--color-text-main);
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: bottom 0.5s;
  transition: bottom 0.5s;
}

.team {
  width: 80%;
  margin: 80px auto;
  text-align: center;
  margin-top: 100px;
}
.team__heading {
  font-family: var(--font-main);
  font-size: 36px;
  font-weight: 600;
}
.team__subheading {
  font-family: var(--font-main);
  font-size: 14px;
  line-height: 22px;
  padding: 10px;
}
.team__cards {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 700px) {
  .team__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.team__card {
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.team__image {
  width: 100%;
  border-radius: 10px;
}
.team__card-title {
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
  text-align: left;
}
.team__description {
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 300;
  margin: 16px 0 15px 0;
}

.testimonials {
  width: 80%;
  margin: 80px auto;
  text-align: center;
}
.testimonials__heading {
  font-family: var(--font-main);
  font-size: 36px;
  font-weight: 600;
}
.testimonials__subheading {
  font-family: var(--font-main);
  font-size: 14px;
  line-height: 22px;
  padding: 10px;
}
.testimonials__cards {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 700px) {
  .testimonials__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.testimonials__card {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: var(--color-theme-alpha);
  padding: 25px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.testimonials__image {
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}
@media (max-width: 700px) {
  .testimonials__image {
    margin-left: 0;
    margin-right: 15px;
  }
}
.testimonials__description {
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 300;
  padding: 0;
}
.testimonials__card-title {
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}
.testimonials .fa-solid {
  font-size: 12px;
  color: var(--color-theme-main);
}

.action-call {
  width: 80%;
  margin: 80px auto;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(54, 54, 54, 0.7)), to(var(--color-theme-alpha))), url("../../img/banner2.jpg");
  background-image: linear-gradient(rgba(54, 54, 54, 0.7), var(--color-theme-alpha)), url("../../img/banner2.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  padding: 100px 30px;
}
.action-call__heading {
  font-family: var(--font-main);
  font-size: 36px;
  font-weight: 600;
  color: var(--color-text-main);
  margin-bottom: 40px;
}
@media (max-width: 700px) {
  .action-call__heading {
    font-size: 22px;
  }
}
.action-call__link {
  display: inline-block;
  text-decoration: none;
  color: var(--color-text-main);
  border: 1px solid var(--color-text-main);
  padding: 12px 34px;
  font-weight: 500;
  background: transparent;
  position: relative;
  cursor: pointer;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
  font-family: var(--font-main);
  font-size: 13px;
}
.action-call__link:hover {
  border: 1px solid var(--color-theme-main);
  background-color: var(--color-theme-alpha);
}

.header--about {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(54, 54, 54, 0.7)), to(var(--color-theme-alpha))), url("../../img/background.jpg");
  background-image: linear-gradient(rgba(54, 54, 54, 0.7), var(--color-theme-alpha)), url("../../img/background.jpg");
  background-position: center;
  background-size: cover;
  min-height: 50vh;
}

.about-us {
  width: 80%;
  margin: 80px auto;
  text-align: center;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  margin-top: 100px;
}
@media (max-width: 700px) {
  .about-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 700px) {
  .about-us {
    text-align: center;
  }
}
.about-us__main {
  padding-right: 20px;
}
@media (max-width: 700px) {
  .about-us__main {
    padding-right: 0;
  }
}
.about-us__heading {
  font-family: var(--font-main);
  font-size: 36px;
  padding-top: 0;
  font-weight: 600;
}
.about-us__description {
  font-family: var(--font-main);
  font-size: 14px;
  line-height: 22px;
  padding: 15px 0 25px 0;
  text-align: left;
}
.about-us__image {
  width: 100%;
}
.about-us__link {
  display: inline-block;
  text-decoration: none;
  color: var(--color-text-main);
  border: 1px solid var(--color-text-main);
  padding: 12px 34px;
  font-weight: 500;
  background: transparent;
  position: relative;
  cursor: pointer;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
  font-family: var(--font-main);
  font-size: 13px;
  color: var(--color-text-secondary);
  border: 1px solid var(--color-text-secondary);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.about-us__link:hover {
  border: 1px solid var(--color-theme-main);
  background-color: var(--color-theme-alpha);
}
@media (max-width: 700px) {
  .about-us__aside {
    margin-top: 100px;
  }
}

.header--process {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(54, 54, 54, 0.7)), to(var(--color-theme-alpha))), url("../../img/background.jpg");
  background-image: linear-gradient(rgba(54, 54, 54, 0.7), var(--color-theme-alpha)), url("../../img/background.jpg");
  background-position: center;
  background-size: cover;
  min-height: 50vh;
}

.process {
  width: 80%;
  margin: 80px auto;
  text-align: center;
  padding-top: 100px;
}
.process__heading {
  font-family: var(--font-main);
  font-size: 36px;
  font-weight: 600;
}
.process__description {
  font-family: var(--font-main);
  font-size: 14px;
  line-height: 22px;
  padding: 10px;
}
.process__cards {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 700px) {
  .process__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.process__card {
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  background: var(--color-theme-alpha);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
}
.process__card:hover {
  -webkit-box-shadow: 0 0 20px 0px var(--color-shadow-gray);
          box-shadow: 0 0 20px 0px var(--color-shadow-gray);
  cursor: pointer;
}
.process__title {
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 600;
  margin: 10px 8px;
}

.projects {
  width: 80%;
  margin: 80px auto;
  text-align: center;
  padding-top: 50px;
}
.projects__heading {
  font-family: var(--font-main);
  font-size: 36px;
  font-weight: 600;
}
.projects__description {
  font-family: var(--font-main);
  font-size: 14px;
  line-height: 22px;
  padding: 10px;
}
.projects__cards {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 700px) {
  .projects__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.projects__card {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.projects__card:nth-child(2) {
  margin: 0 20px;
}
@media (max-width: 700px) {
  .projects__card:nth-child(2) {
    margin: 20px 0;
  }
}
.projects__image {
  width: 100%;
  display: block;
}
.projects__image-backdrop {
  font-family: var(--font-main);
  font-size: 18px;
  padding-top: 20px;
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.projects__image-backdrop:hover {
  background: var(--color-theme-alpha2);
}
.projects__image-backdrop:hover .offices__image-city {
  opacity: 1;
  bottom: 40%;
}
.projects__image-city {
  font-family: var(--font-main);
  font-size: 26px;
  position: absolute;
  width: 100%;
  font-weight: 500;
  color: var(--color-text-main);
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: bottom 0.5s;
  transition: bottom 0.5s;
}

.header--blog {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(54, 54, 54, 0.7)), to(var(--color-theme-alpha))), url("../../img/background.jpg");
  background-image: linear-gradient(rgba(54, 54, 54, 0.7), var(--color-theme-alpha)), url("../../img/background.jpg");
  background-position: center;
  background-size: cover;
  min-height: 50vh;
}

.blog {
  width: 80%;
  margin: 80px auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 700px) {
  .blog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.blog__main {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}
@media (max-width: 700px) {
  .blog__main {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.blog__aside {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}
@media (max-width: 700px) {
  .blog__aside {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 60px;
  }
}

.post__image {
  width: 100%;
}
.post__title {
  color: var(--color-theme-main);
  font-family: var(--font-main);
  font-size: 22px;
  letter-spacing: 1.5px;
  font-weight: 700;
  text-align: left;
  margin: 30px 0;
}
.post__text {
  font-family: var(--font-main);
  font-size: 14px;
  line-height: 1.5em;
  text-align: left;
  font-weight: 300;
  margin-bottom: 30px;
  color: var(--color-text-secondary);
}

.categories__title {
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.5px;
  background: var(--color-theme-alpha2);
  color: var(--color-text-main);
  padding: 8px 0;
  margin-bottom: 20px;
}

.category {
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--color-text-secondary);
  padding: 8px;
}

.comment-box {
  border: 1px solid var(--color-theme-main);
  margin: 50px 0;
  padding: 10px 20px;
}
.comment-box__heading {
  text-align: left;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 600;
}
.comment-box__input {
  font-family: var(--font-main);
  font-size: 14px;
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border: none;
  outline: none;
  background: var(--color-theme-alpha);
  resize: vertical;
}
.comment-box__button {
  display: inline-block;
  text-decoration: none;
  color: var(--color-text-main);
  border: 1px solid var(--color-text-main);
  padding: 12px 34px;
  font-weight: 500;
  background: transparent;
  position: relative;
  cursor: pointer;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
  font-family: var(--font-main);
  font-size: 13px;
  color: var(--color-text-secondary);
  border: 1px solid var(--color-text-secondary);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.comment-box__button:hover {
  border: 1px solid var(--color-theme-main);
  background-color: var(--color-theme-alpha);
}

.header--contact {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(54, 54, 54, 0.7)), to(var(--color-theme-alpha))), url("../../img/background.jpg");
  background-image: linear-gradient(rgba(54, 54, 54, 0.7), var(--color-theme-alpha)), url("../../img/background.jpg");
  background-position: center;
  background-size: cover;
  min-height: 50vh;
}

.contact {
  width: 80%;
  margin: 80px auto;
  text-align: center;
}

.location {
  width: 100%;
}

.contact-us {
  width: 80%;
  margin: 80px auto;
  text-align: center;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 700px) {
  .contact-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contact-us__left {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact-us__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
.contact-us__title {
  font-family: var(--font-main);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
  color: var(--color-theme-main);
}
@media (max-width: 700px) {
  .contact-us__title {
    font-family: var(--font-main);
    font-size: 14px;
  }
}
.contact-us__subtitle {
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 200;
}
.contact-us__icon {
  font-size: 16px;
  padding-top: 10px;
  color: var(--color-theme-main);
  margin-right: 20px;
}
@media (max-width: 700px) {
  .contact-us__icon {
    font-family: var(--font-main);
    font-size: 12px;
  }
}

.form {
  margin-left: 20px;
}
@media (max-width: 700px) {
  .form {
    margin-left: 0;
  }
}
.form__title {
  text-align: center;
  color: var(--color-theme-main);
  font-family: var(--font-main);
  font-size: 22px;
}
@media (max-width: 700px) {
  .form__title {
    font-family: var(--font-main);
    font-size: 14px;
  }
}
.form__input {
  font-family: var(--font-main);
  font-size: 14px;
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border: none;
  outline: none;
  background: var(--color-theme-alpha);
  resize: vertical;
}
.form__button {
  display: inline-block;
  text-decoration: none;
  color: var(--color-text-main);
  border: 1px solid var(--color-text-main);
  padding: 12px 34px;
  font-weight: 500;
  background: transparent;
  position: relative;
  cursor: pointer;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
  font-family: var(--font-main);
  font-size: 13px;
  color: var(--color-text-secondary);
  border: 1px solid var(--color-text-secondary);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form__button:hover {
  border: 1px solid var(--color-theme-main);
  background-color: var(--color-theme-alpha);
}/*# sourceMappingURL=style.css.map */