@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

:root {
  --color-theme-alpha: rgba(32, 62, 192, 0.15);
  --color-theme-alpha2: rgba(32, 62, 192, 0.4);
  --color-theme-main: rgb(32, 62, 192);
  --color-main-text: rgb(255, 255, 255);
  --font-main: "Poppins", sans-serif;
  --font-secondary: "Roboto", sans-serif;
}

.red {
  background-color: red;
}

.blue {
  background-color: rgb(26, 3, 235);
}

.yellow {
  background-color: rgb(235, 212, 3);
}

.green {
  background-color: rgb(72, 219, 36);
}

.pink {
  background-color: rgb(219, 36, 195);
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(54, 54, 54, 0.7)), to(var(--color-theme-alpha))), url("../../img/banner.png");
  background-image: linear-gradient(rgba(54, 54, 54, 0.7), var(--color-theme-alpha)), url("../../img/banner.png");
  background-position: center;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
}
.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2% 6%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .nav__logo {
  width: 140px;
}
.header .nav__icon {
  display: none;
}
@media (max-width: 700px) {
  .header .nav__icon {
    color: var(--color-main-text);
    position: absolute;
    right: 5%;
    font-size: 22px;
    z-index: 3;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .header .nav__icon--active {
    display: block;
  }
  .header .nav__icon--active-anim {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.header .nav__links {
  text-align: right;
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 700px) {
  .header .nav__links {
    position: absolute;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    padding: 60px 20px 20px 20px;
    background: var(--color-theme-alpha2);
    z-index: 2;
    text-align: left;
    -webkit-transition: right 0.3s;
    transition: right 0.3s;
  }
  .header .nav__links--active {
    right: 0;
  }
}
.header .nav__link {
  position: relative;
  display: inline-block;
  padding: 8px 10px;
}
@media (max-width: 700px) {
  .header .nav__link {
    display: block;
  }
  .header .nav__link:nth-child(5) {
    margin-bottom: 20px;
  }
}
.header .nav__link-text {
  text-decoration: none;
  color: var(--color-main-text);
  font-family: var(--font-main);
  font-size: 13px;
}
.header .nav__link-text:hover {
  cursor: pointer;
}
.header .nav__link-text::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--color-theme-main);
  display: block;
  margin: auto;
  margin-top: 5px;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}
.header .nav__link-text:hover::after {
  width: 100%;
}
.header .nav__color-link {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 5px;
  border: 1px solid white;
  cursor: pointer;
  margin-left: 12px;
}
.header .text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  color: var(--color-main-text);
}
.header .text-box__heading {
  font-weight: 800;
  font-family: var(--font-main);
  font-size: 62px;
}
@media (max-width: 700px) {
  .header .text-box__heading {
    font-family: var(--font-main);
    font-size: 20px;
  }
}
.header .text-box__paragraph {
  margin: 10px 0 40px;
  font-family: var(--font-main);
  font-size: 14px;
}
.header .text-box__link {
  display: inline-block;
  text-decoration: none;
  color: var(--color-main-text);
  border: 1px solid var(--color-main-text);
  padding: 12px 34px;
  background: transparent;
  position: relative;
  cursor: pointer;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
  font-family: var(--font-main);
  font-size: 13px;
}
.header .text-box__link:hover {
  border: 1px solid var(--color-theme-main);
  background-color: var(--color-theme-alpha);
}/*# sourceMappingURL=style.css.map */